$font-primary: 'IBMPlexMono-Regular',
'sans-serif';
$font-secondary: 'IBMPlexSans-Regular',
'serif';
$color-primary: #F1E42A;
$color-secondary:#878400;
$color-auxiliar: white;
$color-hover: linear-gradient(to bottom, #878400, #F1E42A);
$border: 1px solid black;